---
layout: default
---

<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive img-circle" src="img/profile.png" alt="Profile">
        <div class="intro-text">
          <span class="name">Mario Pérez</span>
          <hr class="star-light">
          <span class="skills">Software Engineer - Neuroscientist</span>
        </div>
      </div>
    </div>
  </div>
</header>

{% include landing/about.html %}
{% include portfolio.html %}

<section id="experience">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Experience</h2>
        <hr class="star-primary">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="row">
          <div class="col-lg-9">
            <p>
              <strong>Full Stack Developer</strong>
              <br>
              <i>Ruby & JavaScript</i>
              <br>
              ShakaCode
            </p>
          </div>
          <div class="col-lg-3">
            <p class="pull-right">Oct 2015 to ...</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="row">
          <div class="col-lg-9">
            <p>
              <strong>Full Stack Developer</strong>
              <br>
              <i>Ruby & JavaScript</i>
              <br>
              Springboard Retail - Remote
            </p>
          </div>
          <div class="col-lg-3">
            <p class="pull-right">Dec 2014 to <br> Sep 2015</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="row">
          <div class="col-lg-9">
            <p>
              <strong>Ruby on Rails Developer (Full Stack)</strong>
              <br>
              Universidad Politécnica de Valencia - Remote
            </p>
          </div>
          <div class="col-lg-3">
            <p class="pull-right">May 2013 to <br> Jul 2014</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="row">
          <div class="col-lg-9">
            <p>
              <strong>Frontend Developer</strong>
              <br>
              Imagina Group – Valencia, Spain
            </p>
          </div>
          <div class="col-lg-3">
            <p class="pull-right">Oct 2012 to <br> Jan 2013</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="education">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Education</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="row">
          <div class="col-lg-9">
            <p>
              <strong>Master's Degree in Basic and Applied Neurosciences</strong>
              <br>
              Universidad de Valencia – Valencia, Spain
            </p>
          </div>
          <div class="col-lg-3">
            <p class="pull-right">2016 to 2017</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-9">
            <p>
              <strong>Master's Degree in Software Engineering, Formal Methods and Information Systems</strong>
              <br>
              Universidad Politécnica de Valencia – Valencia, Spain
            </p>
          </div>
          <div class="col-lg-3">
            <p class="pull-right">2013 to 2014</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-9">
            <p>
              <strong>MSC in Computer Science Engineering</strong>
              <br>
              Universidad Politécnica de Valencia – Valencia, Spain
            </p>
          </div>
          <div class="col-lg-3">
            <p class="pull-right">2007 to 2013</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-9">
            <p>
              <strong>Erasmus Program</strong>
              <br>
              University of Leicester – Leicester, UK
            </p>
          </div>
          <div class="col-lg-3">
            <p class="pull-right">2011 to 2012</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-9">
            <p>
              <strong>Erasmus Intensive Program: Location Based Services</strong>
              <br>
              Hogeschoolvan Amsterdam – Amsterdam, Holland
            </p>
          </div>
          <div class="col-lg-3">
            <p class="pull-right">April 2013</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-9">
            <p>
              <strong>MOOCs</strong>
              <br>
              Software as a Service I & II (eDX)
              <br>
              Programming Languages (Coursera)
              <br>
              Web Development (Udacity)
              <br>
              Android Development (MiriadaX)
              <br>
              Software Debugging (Udacity)
              <br>
              Website Performance Optimization (Udacity)
              <br>
              Mobile Web Development (Udacity)
            </p>
          </div>
          <div class="col-lg-3">
            <p class="pull-right">2013 to 2014</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-9">
            <p>
              Medical Neuroscience (Coursera)
              <br>
              Refactoring to Patterns (GeeksHubs Academy)
              <br>
              Computational Neuroscience (Coursera)
            </p>
          </div>
          <div class="col-lg-3">
            <p class="pull-right">2016</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="portfolio-modal modal fade" id="portfolioModal-book" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Refactoriza tu Mente</h2>
            <hr class="star-primary">
            <img src="img/portfolio/refactoriza-tu-mente.png" class="img-responsive img-centered" alt="Refactoriza tu mente">
            <p>Book that will help you rewriting your old mental patterns</p>
            <ul class="list-inline item-details">
              <li>Url:
                <strong><a href="https://leanpub.com/refactorizatumente">
                  https://leanpub.com/refactorizatumente
                </a></strong></li>
                <li>Date:
                  <strong>2016</strong>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Refden</h2>
            <hr class="star-primary">
            <img src="img/portfolio/refden.png" class="img-responsive img-centered" alt="Refden">
            <p>
              Reference manager built with Ruby on Rails
            </p>
            <ul class="list-inline item-details">
              <li>Url:
                <strong><a href="https://www.refden.co">
                  refden.co
                </a></strong></li>
                <li>Date:
                  <strong>2016 to present
                  </strong>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>AgileRoadmap+</h2>
            <hr class="star-primary">
            <img src="img/portfolio/agile-roadmap.jpg" class="img-responsive img-centered" alt="Agile Roadmap">
            <p>
              Master degree's final project. The web app helps you creating an agile roadmap for your team.
            </p>

            <p>
              <strong>Tech Stack:</strong>
              Ruby on Rails, Bootstrap, jQuery, Heroku, DigitalOcean + Dokku
            </p>
            <ul class="list-inline item-details">
              <li>Url:
                <strong><a href="http://agile-roadmap.tuneupprocess.com/">
                  agile-roadmap.tuneupprocess.com
                </a></strong></li>
                <li>Date:
                  <strong>2013 to 2014
                  </strong>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>KeepMeFit</h2>
            <hr class="star-primary">
            <img src="img/portfolio/keepmefit.jpg" class="img-responsive img-centered" alt="Keepmefit">
            <p>Degree's final project that involved the creation of a web app for managing workouts in sport centers. Ruby on Rails and Bootstrap was used for the implementation</p>
            <ul class="list-inline item-details">
              <li>Url:
                <strong><a href="https://keepmefit.herokuapp.com/">
                  keepmefit.herokuapp.com
                </a></strong>
              </li>
              <li>Date:
                <strong>
                  2013
                </strong>
              </li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Glassy</h2>
            <hr class="star-primary">
            <img src="img/portfolio/glassy.jpg" class="img-responsive img-centered" alt="Glassy">
            <p>
              Worked in the development of a social network for surfers.
              I was in charge of the frontend and Responsive Design. We used PHP (Zend framework)
            </p>
            <ul class="list-inline item-details">
              <li>Url:
                <strong><a href="https://glassy.pro/">Glassy</a>
                </strong>
              </li>
              <li>Date:
                <strong>
                  October 2012 to January 2013
                </strong>
              </li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Encestado</h2>
            <hr class="star-primary">
            <img src="img/portfolio/encestado.jpg" class="img-responsive img-centered" alt="Encestado">
            <p>
              Owner of the Project and Lead Developer. Encestado is a web app for Nba fans. You are in charge of building your own team of 8 players, where each of them will give you points depending on its performance in real NBA games. The main objective is to have the best team with the most points among all the users.
            </p>
            <p>
              <strong>Tech Stack:</strong>
              Ruby on Rails, Bootstrap, Ruby Slim, RSpec, Sass, CoffeeScript, jQuery,
              AngularJS, Git, Github, Dokku, DigitalOcean, Slack.
            </p>
            <ul class="list-inline item-details">
              <li>Date:
                <strong>
                  2014
                </strong>
              </li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
