<footer class="text-center">

    <div class="footer-above">
        <div class="container">
            <div class="col-xs-8 col-xs-offset-2">

                <div class="footer-col col-md-6">
                    <h3>Location</h3>
                    <p>Valencia, Spain</p>
                </div>

                <div class="footer-col col-md-6">
                    <h3>Around the Web</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/mario.mariete19" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/+MarioPérezAlarcón" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/pub/mario-p%C3%A9rez-alarc%C3%B3n/73/292/b02" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="https://careers.stackoverflow.com/marioperez" class="btn-social btn-outline"><i class="fa fa-fw fa-stack-overflow"></i></a>
                        </li>
                        <li>
                            <a href="https://github.com/mapreal19" class="btn-social btn-outline"><i class="fa fa-fw fa-github-alt"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
