<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Mario Pérez portfolio. Software Engineer and Neuroscientist">
<meta name="author" content="Mario Pérez">
<title>Mario Perez</title>
<link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" >

<link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
<script src="{{site.baseurl}}/js/app.js" async></script>
