<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="col-12">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{site.url}}/">Mario Pérez</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li>
            <a href="{{site.url}}/blog/">Blog</a>
          </li>
          <li class="page-scroll">
            <a href="{{site.url}}/#about">About</a>
          </li>
          <li class="page-scroll">
            <a href="{{site.url}}/#portfolio">Portfolio</a>
          </li>
          <li class="page-scroll">
            <a href="{{site.url}}/#experience">Experience</a>
          </li>
          <li class="page-scroll">
            <a href="{{site.url}}/#education">Education</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
