<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>
          Hello! I'm a Computer Scientist specializing in web development and agile methodologies, with a strong
          preference for Ruby on Rails. I've fallen in love with Ruby's elegant syntax and philosophy. In my coding
          practice, I adhere to the Red/Green/Refactor cycle to ensure high-quality, maintainable code. While I'm
          proficient across the full stack, my true expertise lies in backend development.
        </p>
        <p>
          I thrive in remote work environments, where I can focus deeply and accomplish tasks more efficiently.
          This flexibility also allows me to balance my professional life with personal interests, such as spending
          quality time with family and friends, learning new skills, exercising, and exploring innovative technologies
          to enhance my productivity and enjoyment at work.
        </p>
        <p>
          A major passion of mine is the study and research of Neuroscience, particularly in the area of age-related
          diseases like Alzheimer's. I am currently investigating methods to reverse glial aging through
          Telomerase activation.
        </p>
        <p>
          I also have a keen interest in Psychology and am the author of "Refactoriza tu Mente."
        </p>
      </div>
    </div>
  </div>
</section>
