<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>
          Hello! I'm a Computer Scientist with experience in web development and agile practices. Ruby on Rails is my framework of choice. Fell in love with the Ruby way of doing things and its syntax. I always try to do the Red/Green/Refactor cycle on the code I write. I can work on the full stack, although I feel more comfortable in the backend.
        </p>
        <p>
          I enjoy working remotely. I feel more focused and can get things done faster. Also, it gives me more free time to spend with my family, friends, learning, exercising or experimenting with new technologies that could make my job more fun/productive.
        </p>
        <p>
          One of my strongest and clearest purposes is the study and research in Neuroscience; in the field of age related diseases. Specifically on Alzheimer's disease. Currently exploring ways for reversing glial aging through Telomerase.
        </p>  
        <p>
          Another field I'm fond of is Psychology. Author of <i>Refactoriza tu Mente</i>.
        </p>
      </div>
    </div>
  </div>
</section>
