<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head_content.html %}
  </head>
  <body id="page-top" class="index">
    {% include navigation.html %}

    <section style="padding-top: 130px">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-xs-12">
            {{ content }}
            <br>
            {% include disqus.html %}
          </div>
        </div>
      </div>
    </section>

    {% include footer.html %}
    {% include scroll_to_top_btn.html %}
  </body>
</html>
